#contenedor{
	/*border:1px solid black;*/
	width:50%;
	height: 400px;
}

#cabeceradias{

	display:flex;
	flex-direction:row;
	min-width: 100%;
	height: 5%;
}

#cabeceradias>div{
	background-color: lightyellow;

	border:1px solid black;
	flex-grow: 1;
	text-align: center;
	width: 14.2%;

}
#contenedor-diassemana{
	/*border:1px solid black;*/
	width:100%;
	height: 87%;
}

#diassemana{
	display:flex;
	flex-direction:row;
	width: 100%;
	height: 20%;
}
#diassemana>div{
	background-color: lightblue;

	border:1px solid black;
	flex-grow: 1;
	text-align: center;
	width: 14.2%;
}

.contenedor-semana{
	flex-direction:row;
}
#controles{
	border:1px solid black;
	height: 8%;
	flex-direction:row;
}

#controles>#fecha{
	text-align: center;
	width: 30%;
	height: 100%;
	float:left;
}
#controles>#flechas{

	height: 100%;
}
#controles>#flechas>div{

	height: 100%;
	width:30%;
	float: right;
	text-align: center;
}